#controls {
	margin: 0;
	text-align: right;
}

#controls dt, #controls dd {
	font-size: 20px;
}

#controls dd {
	font-weight: 700;
}

.alerts {
	height: 70px;
	overflow: hidden;
}

#session-id {
	color: #F9F9F9;
}
#session-id:hover {
	color: #000000;
}

#game {
	width: 970px;
	height: 546px; /* 16:9 */
	border: #000 solid 1px;
}

.title-mid-one {
	text-align: center
}